body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", cursive;
  line-height: 26px;
}
.header__inner {
  display: flex;
}
.header__right {
  margin-left: auto;
}
.container {
  margin: auto;
  width: 90%;
  /* border: 1px solid green; */
}

.header__left {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.header__navbar {
  display: flex;
}

.nav__item {
  list-style: none;
}

.nav__link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: black;
  padding: 1rem;
  display: block;
}

.active {
  color: aqua;
}

.row {
  display: flex;
}

.col {
  width: 25%;
}

.img-grid__img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
}

.img-grid__holder {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(13, 73, 141);
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.img-grid__holder:hover .overlay {
  opacity: 0.7;
  transition: 0.3s;
  visibility: visible;
}

/* .img-grid__img:hover .img-grid__img::before {
} */

.showcase {
  padding: 30px;
  text-align: center;
  background-color: #f6f6f6;
}
.showcase__title {
  line-height: 1.8;
  font-size: 2rem;
  font-weight: 600;
}
table,
th,
td {
  border: 1px solid black;
  padding: 15px;
  text-align: left;
  border-spacing: 15px;
}

.footer {
  background-color: black;
}
.row-footer {
  display: flex;
  color: white;
  padding: 5% 8% 4% 8%;
}
.nonelist {
  list-style-type: none;
  padding-left: 0rem;
}
.lienket {
  text-decoration: none;
  color: #f6f6f6;
}
.testmargin {
  border: 2px solid white;
}
.col__1 {
  width: 40%;
}
.col__2 {
  padding-left: 3rem;
}
/* design about */
.showcase__about {
  padding: 30px;
  text-align: center;
  background-image: url(/picture/background-about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.showcase__title__about {
  line-height: 1.8;
  font-size: 2rem;
  font-weight: 600;
  color: #f6f6f6;
}
.showcase__description__about {
  color: #f6f6f6;
}
/* about profile */
.col__profile {
  display: flex;
  margin: auto;
  /* border: 1px solid red; */
}
.row__profile {
  display: flex;
  padding: 4% 8% 4% 8%;
  background-color: #429feb;
}
/* tai sao cho nay khong style duoc trong file css ma phai style truc tiep */
.col__icon {
  font-size: 360px;
}
.col__content {
  /* border: 1px solid black; */
  margin-left: 1rem;
  color: #f6f6f6;
}
.col__content__header {
  font-size: 1rem;
  font-weight: 600;
}
.col__content__des {
  text-transform: uppercase;
  font-size: 0.8rem;
}
/* row__about */
.row__about {
  display: flex;
  margin: auto;
  background-color: #f6f6f6;
}
.content__about {
  padding: 5% 10% 10% 10%;
}
.header___about {
  font-size: 1.5rem;
  font-weight: 600;
}
.project {
  text-align: center;
  margin: auto;
  padding: 6% 25% 6% 25%;
}
.header___about {
  align-content: center;
}
.contact {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  background-color: aqua;
  padding: 2% 0% 2% 0%;
  margin-left: 35%;
  margin-right: 35%;
  display: block;
}
