.container {
  width: 80%;
  margin: auto;
}

.topbar {
  width: 100%;
}

.topbar__inner {
  display: flex;
}

.topbar__left {
  width: 100px;
  height: 100px;
  border: 1px solid green;
}

.topbar__right {
  margin-left: auto;
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

.showcase {
  height: 200px;
  /* padding: 2rem; */
  background-image: url("./website.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase__text {
  padding: 1rem;
  font-size: 50px;
  background-color: rgb(226, 32, 64);
  color: #fff;
  border-radius: 10px;
  transition: 0.3s;
  opacity: 0.7;
}

.showcase__text:hover {
  font-size: 70px;
  opacity: 1;
}
